# chapter 06. 튜플과 딕셔너리

In [1]:
# 6-1

menu = ('coffee', 'milk', 'tea', 'cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1] = 'cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [2]:
# 6-2

tuple1 = ('apple', 'banana', 'cherry')
tuple2 = ('orange', 'melon', 'strawberry')

tuple3 = tuple1 + tuple2
print(tuple3)  #시퀀스 객체는 +연산자로 객체를 서로 연결하여 새 객체를 만들 수 있다.

print(len(tuple3))

for x in tuple1 :
    print(x)
    
del tuple3

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [3]:
# tuple 만들기

# odds = (1, 3, 5, 7, 9)

odds = tuple(range(1, 10, 2))
print(odds)

(1, 3, 5, 7, 9)

In [4]:
# 표현식 (1, 4, 9, 16, 25)

squares = tuple(i*i for i in range(1,6))
print(squares)

(1, 4, 9, 16, 25)

In [5]:
# 표현식 (1, 9, 25, 49, 81)

odd_squares = tuple(i*i for i in range(1, 10) if i % 2 == 1)
print(odd_squares)

(1, 9, 25, 49, 81)

## sequence 객체

In [10]:
# 특정 값이 있는지 확인하기

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

print(30 in a)
print(100 in a)
print(100 not in a)
print(30 not in a)

True
False
True
False

In [11]:
43 in (38, 76, 43, 62, 19) # 43이 옆과 같은 튜블의 데이터이냐?

True

In [15]:
1 in range(10) or 'u' in 'Hello, Python'

True

In [13]:
P' in 'Hello, Python'

True

In [16]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
a + b
[0, 10, 20, 30, 9, 8, 7, 6]

[0, 10, 20, 30, 9, 8, 7, 6]

In [17]:
print((1, 2, 3) + (10, 20, 30))
print('Hello' + 'World!')

(1, 2, 3, 10, 20, 30)
HelloWorld!

In [21]:
range(1, 10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [19]:
tuple(range(1, 10)) + tuple(range(10, 20))  # 위 줄은 못 하지만 이와 같이는 가능

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [22]:
# 문자열과 숫자 연결

'Puthon' + str(3)

'Puthon3'

In [24]:
# 시퀀스 객체 반복하기

print([1, 2, 3] * 3)
print(3 * [1, 2, 3]) # 리스트 잘 됨

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
print((1, 2, 3) * 3)
print('python' * 3)  # 튜플도 str도 잘 됨

(1, 2, 3, 1, 2, 3, 1, 2, 3)
pythonpythonpython

In [27]:
range(1, 5) * 3   # 근데 range는 안 됨

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [29]:
list(range(1, 5)) * 3   # 튜플화 해서는 됨

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [31]:
a = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(a[0:9:4])
print(a[::4])                        # 위치가 0에서 4번째 것만 추출

(11, 55, 99)
(11, 55, 99)

In [1]:
# 6-4 

name = '안진영'
scores = {'kor':95, 'eng': 85, 'math': 90, 'science': 80}
print(scores)

scores['kor'] =70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)


print('이름 : %s' % name)
print('국어 : %d' % scores['kor'])
print('영어 : %d' % scores['eng'])
print('수학 : %d' % scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [2]:
# 6-5

phones = {'갤럭시 노트8': 2017, '갤럭시 s9': 2018, '갤럭시 노트10': 2019, '갤럭시 s20': 2020}
print(phones)

for key in phones :
    print('%s => %s' % (key, phones[key]))
    
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 s9': 2018, '갤럭시 노트10': 2019, '갤럭시 s20': 2020}
갤럭시 노트8 => 2017
갤럭시 s9 => 2018
갤럭시 노트10 => 2019
갤럭시 s20 => 2020
4

In [3]:
# Q 6-3

scores = {'김예진':90, '박영진':95, '김소희':84}

sum = 0
for key in scores :
    sum += scores[key]
    
    print('%s : %d'%(key, scores[key]))
    
avg = sum/len(scores)

print('합계 : %d, 평균 : %.2f' % (sum, avg))

김예진 : 90
박영진 : 95
김소희 : 84
합계 : 269, 평균 : 89.67

In [5]:
# 빈 딕셔너리

x = {}
x
{}
y = dict()
y
{}

{}

In [8]:
lux = {'health' : 490, 'mana' : 334}

lux1 = dict(health=490, mana=334)

print(lux)

{'health': 490, 'mana': 334}

In [9]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))

lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [10]:
# 딕셔너리에 키가 있는지 확인하기

# in 연산자 사용하기

'health' in lux

True

In [1]:
# 딕셔너리 안에서 딕셔너리 사용하기

terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [4]:
## 집합(set)

# {} 의 또다른 사용

a = {1, 1, 2, 3}

set(a)


fruits = {'strawberry', 'grape', 'orange', 'pineapple'}
fruits

{'grape', 'orange', 'pineapple', 'strawberry'}