# chapter 04. 반복문

In [2]:
# 4-1

for x in range (5) :
    print('안녕하세요.', x)

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [6]:
# 4-2

x = 0
while x < 5 :
    print('안녕하세요.', x)
    x += 1

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [11]:
# 4-3
# sum = 1 + 2 + 3 + ... + 10

sum = 0

for i in range(1, 11) :
    sum += i
    print('i의 값 : %d, 합계:%d'%(i,sum))
    print(sum)
print(sum)

i의 값 : 1, 합계:1
1
i의 값 : 2, 합계:3
3
i의 값 : 3, 합계:6
6
i의 값 : 4, 합계:10
10
i의 값 : 5, 합계:15
15
i의 값 : 6, 합계:21
21
i의 값 : 7, 합계:28
28
i의 값 : 8, 합계:36
36
i의 값 : 9, 합계:45
45
i의 값 : 10, 합계:55
55
55

In [19]:
# 4-4

for i in range(10) :
    print(i, end =' ')
print()

for i in range(1,11) :
    print(i, end=' ')
print()

for i in range(1, 10, 2) :
    print(i, end = ' ')
print()

for i in range(20, 0, -2) :
    print(i, end =' ')

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9
20 18 16 14 12 10 8 6 4 2

In [22]:
# 4-5

sum = 0
for i in range(1, 101):
    if i%3 == 0 :
        print('%d' % i, end = ' ')
        sum += i

print('\n','-' * 50)
print('1 ~100에서 3의 배수의 합계 : %d' % sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1 ~100에서 3의 배수의 합계 : 1683

In [23]:
# 4-6

word = input('영어 문장을 입력하세요 :')

for x in word :
    print(x)

영어 문장을 입력하세요 :I want to back home.
I

w
a
n
t

t
o

b
a
c
k

h
o
m
e
.

In [24]:
# 4-7

print('-'*30)
print(' 섭씨 화씨')
print('-'*30)

for c in range(-20, 31, 5) :
    f = c * 9.0 / 5.0 + 32.0
    print('%8d %6.1f' % (c,f))
    
print('-'*30)

------------------------------
 섭씨 화씨
------------------------------
     -20   -4.0
     -15    5.0
     -10   14.0
      -5   23.0
       0   32.0
       5   41.0
      10   50.0
      15   59.0
      20   68.0
      25   77.0
      30   86.0
------------------------------

In [25]:
# Q 4-1 5의 배수가 아닌 수의 합계 구하기

n1 = int(input('시작 수를 입력하세요 :'))
n2 = int(input('끝 수를 입력하세요 :'))

sum = 0
for i in range(n1, n2+1) :
    if i % 5 != 0 :
        sum += i
    
print('-' * 50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' %)

SyntaxError: invalid syntax (<ipython-input-25-c28acbc3f58e>, line 12)

In [26]:
# Q 4-2 전화번호에서 하이픈 삭제하기

number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요 :')
for i in range(0.)

SyntaxError: invalid syntax (<ipython-input-26-00a65d40776c>, line 4)

In [28]:
# Q 4-3 전화번호에 하이픈 추가하기

phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요 :')
number = '' ;
for i in range(0, ) :
    if i = 2 :
        number = number + (phone[2]+'-')
    elif i = 6 :
        number = number + (phone[6]+'-')
    else :
        number = number + phone[i]

print(number)

SyntaxError: invalid syntax (<ipython-input-28-9e033c2fb030>, line 6)

In [29]:
#

In [30]:
#

In [31]:
#

In [32]:
# 4-8

a = 2
for b in range(1,10) :
    c = a *b
    print('%d x %d = %d' % (a, b, c))
    
print('-'*50)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------

In [40]:
for a in range(2,10) :
    print('-'*50)
    for b in range(1,10) :
        c = a *b
        print('%d x %d = %d' % (a, b, c))
    print('-'*50)

--------------------------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------
--------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------
--------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------------------------------------
--------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------------------------------------
--------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------------------------------------
--------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------------------------------------
--------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------------------------------------
--------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------------------------------------

In [51]:
# Q 4-7

for i in range(1,11) :
    print('*'* i)
print('-'*50)
    
for i in range(1,11) :
    for k in range(1, i+1) :
        print('*', end='')
    print()
print('-'*50)

for i in range(1,11) :
    for k in range(1 * i+1) :
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********
--------------------------------------------------
*
**
***
****
*****
******
*******
********
*********
**********
--------------------------------------------------
**
***
****
*****
******
*******
********
*********
**********
***********

In [61]:
# Q 4-8

for i in range(1, 6) :
    for k in range(1, 5-i+1) :
        print(' ', end='')
    for s in range(1, i+1) :
        print('*', end='')
    print()

    *
   **
  ***
 ****
*****

In [62]:
# 연습문제 다이아몬드 만들기

In [63]:
# 4-10

i = 1

while i <= 10 :
    sum += i
    print('i의 값 : %d => 합계 : %d' % (i, sum))
    i += 1

i의 값 : 1 => 합계 : 1684
i의 값 : 2 => 합계 : 1686
i의 값 : 3 => 합계 : 1689
i의 값 : 4 => 합계 : 1693
i의 값 : 5 => 합계 : 1698
i의 값 : 6 => 합계 : 1704
i의 값 : 7 => 합계 : 1711
i의 값 : 8 => 합계 : 1719
i의 값 : 9 => 합계 : 1728
i의 값 : 10 => 합계 : 1738

In [81]:
sum = 0
i = 1

while sum < 1000 :
    sum += i
    i += 1
    if sum > 1000 :
        break
    print(sum)
    
print(sum-i, i)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
989 46

In [84]:
# continue

for i in range(10) :
    if i % 2 == 0 :
        continue
    print(i, end=' ')

1 3 5 7 9

In [91]:
# 중첩에서 break

for i in range(1, 6) :
    print('i =',i, ':', end=' ')
    for k in range(5) :
        if k == i:
            break;
        print(k, end=' ')
    print()

i = 1 : 0
i = 2 : 0 1
i = 3 : 0 1 2
i = 4 : 0 1 2 3
i = 5 : 0 1 2 3 4