# Chapter 02. 파이썬의 기본 문법

In [1]:
# 예제  2-1
a = 20
b = 30
c = a+b
#print(c)

In [2]:
# 예제 2-2

x = 20
Computer = 'Mac'
Age = 30
My_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

In [3]:
print(x, Computer, Age, My_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

In [4]:
# 예제 2-4

X = 30
print(X)
print(type(X))

30
<class 'int'>

In [5]:
# 예제 2-5

x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [6]:
# 예제 2-6

a = 'x'
b = 'I am ok.'
c = "안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok.
안녕하세요.
<class 'str'>

In [7]:
# 예제 2-7

a = 30              # 0001 1110
print(a)
print(type(a))

b = '30'            # ASCII cod (0x33, 0x30), Human interaction
print (b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [8]:
# 예제 2-8

x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [9]:
y = '나는 행복합니다.'

print(y[:2])
print(y[3:-1])
start = 3
print(y[start:start+2])

나는
행복합니다
행복

In [10]:
z = '내 강아지 이름은 happy에요.'

print(z[2:5], z[10:15], z[-8:-3])

강아지 happy happy

In [11]:
# 예제 2-9

a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [12]:
# 예제 2-15

hello = '안녕'*5

print(hello)

안녕안녕안녕안녕안녕

In [13]:
# 예제 2-16

a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

print(len(a))

15
15

In [14]:
# 예제 2-17

name = '홍지수'
greet = name + '님 안녕하세요!'

print(greet)

홍지수님 안녕하세요!

In [15]:
# 예제 2-18

eng = 80
result = '영어 점수 : ' + str(eng) + '점'

print(result)

영어 점수 : 80점

In [16]:
# 예제 2-22

year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' % (year, month, day)

print(a)

2020-03-05

In [17]:
# 예제 2-23

pi = 3.141592653589793238
a = '파이는 %.4f입니다.' % pi

print(a)

파이는 3.1416입니다.

In [18]:
# 2-24

name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [19]:
# 문자열 메소드

x = 'I am happy!'

x.count('am')

1

In [20]:
x.find('happy')

5

In [21]:
x.upper()

'I AM HAPPY!'

In [22]:
x.lower()

'i am happy!'

In [23]:
x.replace('am', 'was')

'I was happy!'

In [24]:
x.split('d')

['I am happy!']

In [25]:
x.split()

['I', 'am', 'happy!']

In [26]:
A = 10
B = 20

print(A, B)

10 20

In [27]:
# 2-27

score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d' % (score1, score2))
print('합계 : %d, 평균 : %.2f' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [28]:
# sep, end

print('오늘은')
year = 2020
month = 5
day = 29

print(year, month, day)
print('입니다.')

오늘은
2020 5 29
입니다.

In [29]:
# 오늘은 2020/5/29 입니다.

print('오늘은', end=' ')
print(year, month, day, sep='/', end=' ')
print('입니다.')

오늘은 2020/5/29 입니다.

In [30]:
# 2-31

name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.' % name)

이름을 입력하세요 : kim
kim님 반갑습니다.

In [31]:
a = input('first number> ')
b = input('second number> ')
print('sum = ', a+b)

first number> 10
second number> 20
sum =  1020

In [32]:
# 2-33

a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20

In [34]:
c = int(a) +int(b)
print(c)

30

In [36]:
# 2-35

"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""

a = 10       # 변수에 a에 10저장
b = 20       # 변수에 b에 20저장

c = a+b      # 두 수를 더해 변수 c에 저장

#결과를 출력한다.
print(c)

30