# SQLite3 훈련

In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('./test.DB')

In [4]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

In [5]:
rows

[(1, 22, '이태양', '투수'),
 (2, 13, '최재훈', '포수'),
 (3, 3, '노태형', '내야수'),
 (4, 19, '이용규', '외야수'),
 (5, 4, '조한민', '내야수'),
 (6, 6, '오선진', '내야수'),
 (7, 7, '송광민', '내야수'),
 (8, 8, '노시환', '내야수'),
 (9, 14, '강경학', '내야수'),
 (10, 16, '하주석', '내야수')]

In [10]:
cur.execute("SELECT * FROM eagles WHERE position='내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers :
    print(pitcher)

(3, 3, '노태형', '내야수')
(5, 4, '조한민', '내야수')
(6, 6, '오선진', '내야수')
(7, 7, '송광민', '내야수')
(8, 8, '노시환', '내야수')
(9, 14, '강경학', '내야수')
(10, 16, '하주석', '내야수')

# 데이터 추가

In [20]:
cur.execute("INSERT INTO eagles(back_no, name, position) VALUES(30, '호잉', '외야수')")

In [21]:
# DB에 반영
conn.commit()

In [22]:
# 파라메터: 튜플을 사용해서 전달

back_no = 25
name = '최진행'
position = '외야수'

sql = 'INSERT INTO eagles(back_no, name, position) VALUES(?, ?, ?)'
cur.execute(sql, (back_no, name, position))
conn.commit()

In [23]:
# 튜플 리스트 사용 ***********************************************************************

players = [(38, '안영명', '투수'), (54, '서균', '투수')]
for player in players :
    cur.execute(sql, player)
conn.commit()

In [24]:
# executemany() 사용

players = [(48, '벨', '투수'), (53, '김민우', '투수')]
cur.executemany(sql, players)
conn.commit()

In [25]:
# 데이터 조회

In [26]:
# 순회 조회

sql = "select * from eagles where position='포수'"
cur.execute(sql)
for result in cur :
    print(result)

(2, 13, '최재훈', '포수')

In [27]:
# 한 건 조회

cur.execute(sql)
result = cur.fetchone()
print(result)

(2, 13, '최재훈', '포수')

In [29]:
result = cur.fetchone()
print(result)            # 한 건씩 순서대로 가져오는 애

None

In [34]:
# 갯 수 지정 조회

sql = "select * from eagles where position='투수'"
cur.execute(sql)
result = cur.fetchmany(3)
print(result)

[(1, 22, '이태양', '투수'), (13, 38, '안영명', '투수'), (14, 54, '서균', '투수')]

In [35]:
# 전부 조회  ****************************************************************************
# fetch가 이미 데이터를 튕겨냈기에 다음실행을 준비하고있음
# 그상태로 all을 하면 나머지 전부를 출력한다.

results = cur.fetchall()
results

[(15, 48, '벨', '투수'), (16, 53, '김민우', '투수')]

In [36]:
# 필요한 컬럼만 조회

sql = "select back_no, name from eagles where back_no > 20"
cur.execute(sql)
result = cur.fetchall()
print(result)

[(22, '이태양'), (30, '호잉'), (25, '최진행'), (38, '안영명'), (54, '서균'), (48, '벨'), (53, '김민우')]

In [37]:
# 백넘버가 20~29까지인 선수

sql = "select back_no, name from eagles where back_no between 20 and 29"
cur.execute(sql)
result = cur.fetchall()
print(result)

[(22, '이태양'), (25, '최진행')]

In [40]:
# 백넘버가 가장 큰 번호를 갖는 선수는?

sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
result = cur.fetchone()
print(result)

(14, 54, '서균', '투수')

In [41]:
# 포지션별 사람수

sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
result = cur.fetchall()
print(result)

[('내야수', 7), ('외야수', 3), ('투수', 5), ('포수', 1)]

# 데이터 검색

In [45]:
# back_no가 54번인 선수는?

back_no = 54
sql = "select * from eagles where back_no = ?"
cur.execute(sql, back_no)        # 데이터 하나라도 튜플'()'로 만들어서 넣어야함
result = cur.fetchone()
print(result)

ValueError: parameters are of unsupported type

In [46]:
cur.execute(sql, (back_no,))        # 데이터 하나라도 튜플'()'로 만들어서 넣어야함
result = cur.fetchone()
print(result)

(14, 54, '서균', '투수')

# 데이터 변경

In [50]:
# id가 10인 하주석 선수의 포지션을 외야수로 변경

id_ = 10
position = '외야수'
sql = 'UPDATE eagles SET position = ? WHERE id = ?'
cur.execute(sql, (position, id_))
conn.commit()

# 데이터 삭제

In [53]:
sql = 'DELETE FROM eagles WHERE id = ?'
cur.execute(sql, (id_, ))
conn.commit()