In [3]:
import pandas as pd

In [4]:
import sqlite3

In [5]:
conn = sqlite3.connect('./test.DB')

In [6]:
cur = conn.cursor()
cur.execute('SELECT * FROM idol')
rows = cur.fetchall()

In [7]:
rows

[(1, '우주소녀', '10명', '2016년 2월 25일', '스타쉽'),
 (2, '오마이걸', '7명', '2015년 4월 21일', 'WM'),
 (3, '마마무', '4명', '2014년 6월 19일', 'RBW'),
 (4, '드림캐쳐', '7명', '2017년 1월 13일', '드림캐처컴퍼니'),
 (5, '모모랜드', '9명', '2016년 11월 10일', 'MLD')]

In [8]:
cur.execute('SELECT * FROM idol_song')
rowss = cur.fetchall()

In [9]:
rowss

[(1,
  '이루리',
  '우주소녀',
  '2019년',
  'KZ,Nthonius,비오(B.O.)',
  'As you wish Everything you wanted...'),
 (2,
  'ICY',
  'ITZY',
  '2019년',
  '박진영,페노메코(PENOMECO)',
  '차갑게 보여도 어떡해 Cool한 나니까 눈치 볼 마음 없어 Oh\r\nCome on...'),
 (3,
  'HIP',
  '마마무',
  '2019년',
  '김도훈(RBW),박우상(RBW),화사(Hwa Sa)',
  'All I wanna be is 멋짐 내 마음대로 골라 kick it 머리 어깨 무릎 다 HIP 해...'),
 (4,
  'TT',
  '트와이스',
  '2016년',
  '블랙아이드필승,최규성,Rado',
  '이러지도 못하는데 저러지도 못하네 그저 바라보며 ba-ba-ba-baby...'),
 (5,
  '휘파람',
  '블랙핑크',
  '2016년',
  'TEDDY,FUTURE BOUNCE,Rebecca Johnson',
  'Hey boy Make’ em whistle like a missile bomb bomb Every time I show up blow up (uh)...'),
 (6,
  'Thumbs Up',
  '모모랜드',
  '2019년',
  '이단옆차기, Bull$EyE(불스아이), Ondine, De view, 김도다리',
  '왜 눈만 뜨면 늘어나니 저 빨간색의 LOVE 내 핸드폰은 멈추지 않아 하루종일을 Beep beep beep beep...'),
 (7,
  'BUTTERFLY',
  '우주소녀',
  '2020년',
  '별들의전쟁 * (Galactika *),아테나(GALACTIKA *),우빈(GALACTIKA *)',
  '까칠한 말투에 차가운 무표정이 도도하고 때론 낯설대 보이는 게 전부가 아닌데...'),
 (8,
  'What',
  '드림캐쳐',
  '2018년',
  '김희원, 타스코, 위더베스트',
  '깨어나지 못한 깊어진 Lucid Dream 덫에 걸려버린 지금 꿈속에서...'),
 (9,
  '비밀이야 (Secret)',
  '우주소녀',
  '2016년',
  'e.one',
  '밤새 뒤척 뒤척이다가 나 괜히 맘이 그래 지끈 지끈해져 나 oh...'),
 (10,
  'Holiday',
  '소녀시대',
  '2017년',
  'Lawrence Lee, Louise Frick Sveen, Märta Grauers',
  'I’m feeling good 이날을 기다려왔어 처음 만난 그 순간처럼 다시 만난 너와 나...')]

In [10]:
sql =" SELECT idol.group_name,\
    idol.구성원, idol.데뷔일자,\
    idol_song.song_name,\
    idol_song.발표년도\
    FROM idol INNER JOIN idol_song\
    ON idol.group_name= idol_song.그룹"
cur.execute(sql)
result = cur.fetchall()
result

[('우주소녀', '10명', '2016년 2월 25일', 'BUTTERFLY', '2020년'),
 ('우주소녀', '10명', '2016년 2월 25일', '비밀이야 (Secret)', '2016년'),
 ('우주소녀', '10명', '2016년 2월 25일', '이루리', '2019년'),
 ('마마무', '4명', '2014년 6월 19일', 'HIP', '2019년'),
 ('드림캐쳐', '7명', '2017년 1월 13일', 'What', '2018년'),
 ('모모랜드', '9명', '2016년 11월 10일', 'Thumbs Up', '2019년')]

In [11]:
conn.commit()

In [12]:
df = pd.DataFrame(result)
df

      0    1              2              3      4
0  우주소녀  10명   2016년 2월 25일      BUTTERFLY  2020년
1  우주소녀  10명   2016년 2월 25일  비밀이야 (Secret)  2016년
2  우주소녀  10명   2016년 2월 25일            이루리  2019년
3   마마무   4명   2014년 6월 19일            HIP  2019년
4  드림캐쳐   7명   2017년 1월 13일           What  2018년
5  모모랜드   9명  2016년 11월 10일      Thumbs Up  2019년

In [13]:
df = pd.DataFrame(result, columns=['그룹 이름', '구성원 수', '데뷔 일자', '노래 이름', '발표 년도'])
df

  그룹 이름 구성원 수          데뷔 일자          노래 이름  발표 년도
0  우주소녀   10명   2016년 2월 25일      BUTTERFLY  2020년
1  우주소녀   10명   2016년 2월 25일  비밀이야 (Secret)  2016년
2  우주소녀   10명   2016년 2월 25일            이루리  2019년
3   마마무    4명   2014년 6월 19일            HIP  2019년
4  드림캐쳐    7명   2017년 1월 13일           What  2018년
5  모모랜드    9명  2016년 11월 10일      Thumbs Up  2019년

In [14]:
df.set_index('그룹 이름', inplace=True)
df

      구성원 수          데뷔 일자          노래 이름  발표 년도
그룹 이름
우주소녀    10명   2016년 2월 25일      BUTTERFLY  2020년
우주소녀    10명   2016년 2월 25일  비밀이야 (Secret)  2016년
우주소녀    10명   2016년 2월 25일            이루리  2019년
마마무      4명   2014년 6월 19일            HIP  2019년
드림캐쳐     7명   2017년 1월 13일           What  2018년
모모랜드     9명  2016년 11월 10일      Thumbs Up  2019년

In [15]:
conn.close()