In [1]:
# 6, 7장 과제


n = range(1,6)
idpt = {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000}

1.
index = 1
for i in idpt :
    print('%d. 아이디 : %s, 마일리지: %d점' % (index, i, idpt[i]))
    index += 1

1. 아이디 : kim99, 마일리지: 12000점
2. 아이디 : lee66, 마일리지: 11000점
3. 아이디 : han55, 마일리지: 3000점
4. 아이디 : hong77, 마일리지: 5000점
5. 아이디 : hwang33, 마일리지: 18000점

In [54]:
3.

idpt = {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000}

idpt['jang88'] = 7000

print(idpt)

new = 'jang88'

print('%s님의 마일리지(%d점)가 추가 되었습니다.' % (new, idpt['jang88']))

{'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000, 'jang88': 7000}
jang88님의 마일리지(7000점)가 추가 되었습니다.

In [3]:
5.

x = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}
print('-' * 50)
for i in x :
    print('  ',i, end=' ')
    
print('\n','-' * 50, sep='')

for i in x :
    print(' ',x[i], end='')

--------------------------------------------------
   월    화    수    목    금    토    일
--------------------------------------------------
  25.5  28.3  33.2  32.1  17.3  35.3  33.3

In [142]:
7.
x = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}

print('기온이 30도 이상인 요일 : ', end='')
for i in x :
    if x[i] > 30 :
        print(i, end='')

기온이 30도 이상인 요일 : 수목토일

In [115]:
# 8장 문제

1.

def f1(a) :
    a += 10
    print(a, end=',')

a = 10
f1(a)
print(a)

20,10

In [165]:
3.


def prime_number(n):
    if n == 2:
        return True
    for i in range(2, n+1):
        if n % i == 0:
            return False
    return True 

a = int(input('n갑을 입력해 주세요 : '))

print('2 ~ ', a, '까지의 정수 중 소수 : ', prime_number(a))

n갑을 입력해 주세요 : 20
2 ~  20 까지의 정수 중 소수 :  False

In [129]:
5.

def numSquare(num):
    list_new = []
    for i in range(1, num+1):
        list_new.append(i**2)
        
    return list_new

n = 5
result = numSquare(n)
print(result)

[1, 4, 9, 16, 25]

In [168]:
7.

admin = ('A123456789')

print('※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야 합니다.')

pass1 = input('비밀번호 : ')
pass2 = input('비밀번호 확인 : ')

if pass1 == admin and pass2 == admin :
    print('유효한 비밀번호입니다~~~')
elif pass1 != pass2 :
    print('비밀번호와 비밀번호 확인이 서로 다릅니다! 다시 입력해 주세요!')
else :
    print('비밀번호가 잘못되었습니다! 다시 입력해 주세요')

※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야 합니다.
비밀번호 : A123456789
비밀번호 확인 : A123456789
유효한 비밀번호입니다~~~